{% extends "users/base.html" %}
{% load static %}
{% block title %} | Dashboard {% endblock title%}
{% block content %}

    <section class="text-center">
        <h1>My Dashboard</h1><hr>

        <div class="card">
            <h2>Popular Links</h2>
        </div>
    
        <div class="card">
            {% for idx, short_url in short_urls %}
            
            <div class="row">
                <div>#{{ idx }}</div>
                <a href="{{ short_url.long_url }}">{{ short_url.alias }}</a>
                <div>{{ short_url.visits }}</div>
            </div>
    
            {% endfor %}
        </div>
    </section>

{% endblock %}